.leftcolumn {
	float: left;
	width: 50%;
	padding-bottom: 20px;
}
.rightcolumn {
	float: right;
	width: 45%;
	padding-bottom: 20px;
}

#sl_evolution,
#sl_following_pages,
#sl_previous_pages {
	margin-bottom: 25px;
}

h2.sl_hasdescription {
	cursor: pointer;
}

.sl_description_button {
	position: absolute;
	z-index: -1;
	margin-left: 10px;
	font-size: 12px;
	line-height: 25px;
}

.sl_description_wrapper {
	display: none;
	width: 450px; 
}

.sl_description {
	border: 1px solid #CBD9EB;
	color: #444444;
	background: #FAFAFA;
	padding: 0 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 12px;
}

.paneldivMain {
	display: block;
	position: absolute; 
	top: 100px; 
	left: 250px;
	width: 935px;
	height: 900px;
	z-index: 100;
	background: white;
}

.paneldiv {
	display: block;
	position: absolute; 
	top: 100px; 
	left: 250px;
	width: 935px;
	z-index: 0;
}

.columndiv {
	display: block;
	background: #FFFFFF;
	position: absolute;
	top: 220px;
	left: 250px;
	z-index: 99;
	width: 800px;
	height: 600px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 3px solid #aaaaaa;
}

.metricgraph {
	left: 400px;
	width: 935px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #aaaaaa;
}

.sl_description p {
	margin: 5px 0;
	padding: 0;
}

.sl_description p.sl_main_description {
	margin: 5px 0 7px 0;
	font-weight: bold;
}

.listmenu ul {
	margin: 0 0 5px 0;
	padding: 0 0 2px 0;
	list-style-type: none;
	width: 185px;
}

.listmenu li a {
	color: #333;
	display: block;
	border-left: 3px solid #666;
	border-right: 3px solid #666;
	height: 16px;
	padding: 4px 0 4px 14px;
	text-decoration: none;
	font-weight: bold;
	background-color: #fff;
}

.listmenu li a:hover {
	background-color: #666;
	color: #fff;
}
</
style
>